@import '../global/site.variable';

.btn {
  @padding: 5px 15px;
  @borderRadius: 3px;

  display: inline-block;
  padding: @padding;
  border-radius: @borderRadius;
  background-color: none;
  border: none;
  font-size: 1.3rem;

  &.line {
    border: 1px solid @c_lightGrey;
  }

  &.offWhite {
    background-color: @offWhite;
    color: @c_lightBlack;
  }

  &.block {
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  &.teal {
    background-color: @c_teal;
    color: @white;
  }

  &:disabled {
    background-color: @c_lightBlack;
    color: @white;
  }
}
